body{
    align-items: center;
}
h3{
    font-size: 25px !important;

}

.btn-success:hover{
    background-color: brown;
    font-weight: 700;
    box-shadow: 1px 1px 15px brown;
    border: 2px dashed lightgoldenrodyellow;
}

canvas{
    animation-name: haha;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

@keyframes haha{
    from{box-shadow: 1px 1px 50px crimson;}
    to{box-shadow: 1px 1px 50px coral;}
}